- title t('important_dates.edit.page_title', event: @important_date.event)
h1 = t('.title')
= render 'form'
= link_to t('.show'), @important_date, class:"btn btn-xs btn-success mt-3"
= link_to t('.back'), important_dates_path, class:"btn btn-xs btn-info mt-3 ml-3"
