= simple_form_for(@post) do |f|
  = f.input :title, placeholder: t('posts.form.title_placeholder')
  = f.input :content, placeholder: t('posts.form.content_placeholder')
  = f.submit t('global.forms.submit'), class:"btn btn-primary"

