/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

/* colours*/

$black: #000;
$white: #fff;
$light-grey: #777;
$dark-grey: #595959;
$extra-light-grey: #e9ecef;
$extra-dark-grey: #222;

/* mixins, variables, etc. */

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-grey;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header*/

header{
  background-color: $extra-dark-grey;
}

#logo {
  font-size: 30px;
  color: $white;
  text-transform: capitalize;
  letter-spacing: -0.5px;
  font-weight: 700;
  &::before{
    content: url("tree.png");
    height: 32px;
    width: 32px;
  }
}

.navbar-nav{
  flex-direction: row;
}

.navbar-nav li{
  font-weight: 700;
  font-size: 1.2em;
  margin-right: 20px;
}

.nav-item span{
  transition-duration: 0.5s;
}

/* welcome page*/

.btn-lg{
  background-color: $light-grey;
  border: 2px solid $black;
  color: $white;
  font-weight: 700;
  transition-duration: 0.5s;
}

.btn-lg:hover {
  background-color: $extra-dark-grey;
  border: 2px solid $black;
  color: $white;
  font-weight: 700;
  transition-duration: 0.5s;

}

.welcome-root{
  display: flex;
  justify-content: center;
  position: relative;
  img{
    width: 500px;
    align-self: flex-start;
  }
}

.center.jumbotron {
  margin-bottom: 0;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 10px;
  padding-bottom: 15px;
  border-top: 3px solid $extra-light-grey;
  color: $light-grey;
}

footer a {
  color: $dark-grey;
  transition-duration: 0.5s;
}

footer a:hover {
  color: $extra-dark-grey;
  text-decoration: none;
  transition-duration: 0.5s;
}

footer small {
  float: left;
  font-weight: 700;

}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
  font-weight: 700;
}
