#main{
  margin:0 auto;
  width:500px;
}
.frmAdd{
  padding: 12px;
  background-color: #2a2d34;
  color: #dee2e6;
  border-radius: 10px;
}
.frmAdd select{
  border-radius: 4px;
  padding: 7px 10px;
  width: 32.7%;
  margin-bottom: 20px;
}
.container {width: 90%!important;max-width: 90%!important;}
.group_images{
  flex: 0 0 83.666667%;
  max-width: 83.666667%;
}
.show_image{
  flex: 0 0 63.33%;
  max-width: 63.33%;
}
.thumb{
  height: 200px;
  margin: 0px 0px 10px 10px;
}
.large{
  max-width: 100%;
  margin-left: 10px;
  margin: 0px 10px 10px 10px;
}
.row .left_col{
  flex: 0 0 16.33%;
  max-width: 16.33%;
}
.row .right_col{
  flex: 0 0 20.33%;
  max-width: 20.33%;
}
.filters_block{
  position: sticky;
  top: 20px;
  background-color: #222222;
  padding: 20px;
  color: #fff;
}
.filters_block p{
  font-weight: bold;
  text-transform: uppercase;
  font-size: 15px;
}
.filters_block p span{
  word-break: break-all;
  padding-left: 6px;
  font-weight: normal;
  text-transform: none;
  color: #ccc;
}
.albumsBlock a{
  display: table-caption;
  text-align: center;
  font-size: 12px;
}
.albumsBlock img {height: 60px;}
.list-group-item a, .filters_block .showLink{cursor: pointer;}
