h2 = t("devise.mailer.invitation_instructions.hello", email: @resource.email)
h3 = t("devise.mailer.invitation_instructions.someone_invited_you")
p = link_to t("devise.mailer.invitation_instructions.accept"), accept_invitation_url(@resource, invitation_token: @token)
p = t("devise.mailer.invitation_instructions.ignore")
