h1
  = t('devise.mailer.changed.hello')
p
  = @resource.email
h4= t('devise.mailer.reset.message')
p= link_to t('devise.mailer.reset.change'), edit_password_url(@resource, reset_password_token: @token)
h5= t('devise.mailer.reset.if')
h5= t('devise.mailer.reset.messagesecond')
